{% extends "base.html" %}

{% block content %}
<section>
<h1 class="h-center very-big">Andrew T. Walter</h1>
<div class="links-bar fa-xl">
    <a href="https://github.com/mister-walter"><i class="fa-brands fa-github" aria-label="Github Account"></i></a>
    <a href="https://gitlab.com/mister-walter"><i class="fa-brands fa-gitlab" aria-label="Gitlab Account"></i></a>
    <a href="https://www.linkedin.com/in/andrew-walter-wpi/"><i class="fa-brands fa-linkedin" aria-label="LinkedIn profile page"></i></a>
    <a href="https://scholar.google.com/citations?user=Ffgf3YoAAAAJ"><i class="fa-solid fa-graduation-cap" aria-label="Google Scholar"></i></a>
    <a href="{{ get_url(path="resume.pdf") }}"><i class="fa-regular fa-file-lines" aria-label="Resume"></i></a>
    <a href="mailto:mist3rwalter@gmail.com"><i class="fa-regular fa-envelope" aria-label="Email"></i></a>
</div>
</section>

<div role="presentation" class="headshot-row">
<section>
    <h2>About Me</h2>
<p>
    I'm currently working towards my PhD at <a href="https://www.khoury.northeastern.edu/">Khoury College</a> in
    Northeastern University. <a href="https://ccs.neu.edu/~pete/">Pete Manolios</a> is my advisor.
</p>

<p>
    My research area is formal methods. In particular, I am interested in combining theorem provers, constraint solvers,
    and enumerative data types (along the lines of <a
        href="https://ccs.neu.edu/~pete/research/acl2-2011-testing-theorem-proving.html">CGEN</a>) to better generate
    data satisfying certain constraints. I've used this approach to fuzz parts of complex protocols (like the 802.11
    WiFi specification).
</p>

<p>I am the current maintainer of the ACL2s Eclipse plugin.</p>

<p>I am the current Front Desk Volunteer Lead at the <a href="https://www.artisansasylum.com/">Artisans Asylum</a>
    makerspace in Allston, MA.</p>

</section>
<img class="headshot" src="{{ get_url(path="images/headshot.webp") }}" alt="A headshot of Andrew Walter">
</div>

<section>
<h2>Papers</h2>
{% set papers_section = get_section(path="papers/_index.md") %}

<ul>
{% for paper in papers_section.pages %}
<li><a href="{{ paper.permalink | safe }}">{{paper.title}}</a>: {{paper.extra.venue}}</li>
{% endfor %}
</ul>
</section>

{% endblock content %}